{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="{% static 'web/img/safelinelogo.svg' %}" />

    {% block meta %}
    <!-- Primary Meta Tags -->
    <title>Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group</title>
    <meta name="title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta name="description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://safe-line.co/" />
    <meta property="og:title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta property="og:description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />
    <meta property="og:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://safe-line.co/" />
    <meta property="twitter:title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta property="twitter:description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />
    <meta property="twitter:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />
    {% endblock %}
    
    <link rel="stylesheet" href="{% static 'web/css/slidder.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/css29bdb.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}" />
    

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TKNS23P6');</script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8MW0TSC58"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M8MW0TSC58');
    </script>
     <!--End Google tag (gtag.js) -->

</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKNS23P6"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

     <!--Start of Tawk.to Script-->
     
    <!--End of Tawk.to Script-->


    {% include 'partials/header.html' %}

    {% block content %}
    {% endblock %}

    {% include 'partials/footer.html' %}

    <a href="https://wa.me/96891924377" class=" whatsapp-float" target="_blank">
        <i class="fa fa-whatsapp my-whatsapp-float"></i>
    </a>


   <!-- jQuery -->
   <script src="{% static 'web/js/jquery-3.6.3.min.js' %}"></script>
   <script src="{% static 'web/js/jquery-migrate-3.0.0.min.js' %}"></script>
   <script src="{% static 'web/js/modernizr-2.6.2.min.js' %}"></script>
   <script src="{% static 'web/js/imagesloaded.pkgd.min.js' %}"></script>
   <script src="{% static 'web/js/jquery.isotope.v3.0.2.js' %}"></script>
   <script src="{% static 'web/js/popper.min.js' %}"></script>
   <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'web/js/scrollIt.min.js' %}"></script>
   <script src="{% static 'web/js/jquery.waypoints.min.js' %}"></script>
   <script src="{% static 'web/js/owl.carousel.min.js' %}"></script>
   <script src="{% static 'web/js/jquery.stellar.min.js' %}"></script>
   <script src="{% static 'web/js/jquery.magnific-popup.js' %}"></script>
   <script src="{% static 'web/js/jquery.counterup.min.js' %}"></script>
   <script src="{% static 'web/js/YouTubePopUp.js' %}"></script>
   
   {% block js %}
   <script src="{% static 'web/js/custom.js' %}"></script>
   {% endblock %}
   
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
   <script src="{% static 'web/js/form.js' %}"></script>
</body>
</html>