{% load static %}

<!-- Footer -->
<footer class="footer clearfix">
    <div class="container">
        <!-- First footer -->
        <div class="first-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="links dark footer-contact-links">
                        <div class="footer-contact-links-wrapper">
                            <div class="footer-contact-link-wrapper">
                                <div class="image-wrapper footer-contact-link-icon">
                                    <div class="icon-footer"> <i class="norc-phone"></i> </div>
                                </div>
                                <div class="footer-contact-link-content">
                                    <h6>Call us</h6>
                                    <p>+968 9192 4377</p>
                                    <p>+968 2698 8333</p>
                                </div>
                            </div>
                            <div class="footer-contact-links-divider"></div>
                            <div class="footer-contact-link-wrapper">
                                <div class="image-wrapper footer-contact-link-icon">
                                    <div class="icon-footer"> <i class="norc-mail"></i> </div>
                                </div>
                                <div class="footer-contact-link-content">
                                    <h6>Write to us</h6>
                                    <p>enquiry@safe-line.co</p>
                                </div>
                            </div>
                            <div class="footer-contact-links-divider"></div>
                            <div class="footer-contact-link-wrapper">
                                <div class="image-wrapper footer-contact-link-icon">
                                    <div class="icon-footer"> <i class="norc-property-location"></i> </div>
                                </div>
                                <div class="footer-contact-link-content">
                                    <h6>Address</h6>
                                    <p>Barka Industrial Area, Sultanate of Oman,PC:320, PB:736</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second footer -->
        <div class="second-footer">
            <div class="row">
                <!-- about & social icons -->
                <div class="col-md-4 widget-area">
                    <div class="widget clearfix">
                        <h3 class="widget-title">About Safeline.</h3>
                        <div class="widget-text">
                            <p>Innovation and Sustainability Leaders. Trusted for top-quality electrical, HVAC, and fire system solutions. We pioneer new techniques and alternative energy sources, shaping a brighter, sustainable future.</p>
                            <div class="social-icons">
                                <ul class="list-inline">
                                    <li><a href="https://wa.me/96891924377" target="_blank" ><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href="https://www.facebook.com/safelineelectrical" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://instagram.com/safelineoman?igshid=MzRlODBiNWFlZA==" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- quick links -->
                <div class="col-md-3 offset-md-1 widget-area">
                    <div class="widget clearfix usful-links">
                        <h3 class="widget-title">Quick Links</h3>
                        <ul>
                            <li><a href="{% url 'web:about' %}">About</a></li>
                            <li><a href="{% url 'web:careers' %}">Career</a></li>
                            <li><a href="{% url 'web:certificates' %}">Certificates</a></li>
                            <li><a href="{% url 'web:services' %}">Services</a></li>
                            <li><a href="{% url 'web:projects' %}">Projects</a></li>
                            <li><a href="{% url 'web:gallery' %}">Gallery</a></li>
                            
                        </ul>
                    </div>
                </div>
                <!-- subscribe -->
                <div class="col-md-4 widget-area">
                    <div class="widget clearfix">
                        <h3 class="widget-title">Subscribe</h3>
                        <p>Want to be notified about our news. Just sign up and we'll send you a notification by email.</p>
                        <div class="widget-newsletter">
                            <form action="#">
                                <input type="email" placeholder="Email Address" required>
                                <button type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom footer -->
        <div class="bottom-footer-text">
            <div class="row copyright">
                <div class="col-md-12">
                    <p class="mb-0">Copyright ©<a href="#">Safeline </a> {% now 'Y' %}. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>