{% extends 'partials/base.html' %} 
{% load static %} 
{% block content %}



<!-- Header Banner -->
    <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
    <section class="banner-header banner-img-top section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'web/img/slider/allbanner.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h6>Electrical Solutions Firm</h6>
                    <h1>About <span>Safeline</span></h1>
                </div>
            </div>
        </div>
    </section>
    <!-- About -->
    <section class="about section-padding-lamiiz">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30">
                    <h5>Providing Cutting-Edge <br>Electrical Solutions!</h5>
                    <p>We have expanded our portfolio by establishing Safeline, a branch company of Anwar Al Meiha Group, founded in 1993, having objective to create new techniques in electrical field with best and improved methods, fulfilling all the modern demands of electrical works. An Oman based enterprise which is owned by Abbas KV and Khalid Muslem has won the trust of customers and the awe of competitors for ushering a modern way of serving customers in a traditional trade. Our approach is to provide you with the most innovative and cost effective service within the electrical industry. We pride ourselves on providing honest and reliable electrical solutions. As a market leader we can provide a diverse range of top quality products and services. </p>
                    <p>Our work was appreciated favorably in a short period of time and it grew into a huge success. The industrial sector responded admirably to our services and work. </p>
                    <p>The untiring efforts and honesty of labor is the key treasure of the company. A team of engineers, supervisors, foremen and technicians keep exploring new and modern techniques so that the optimum standard of quality work may be achieved.</p>
                    
                </div>
                <div class="col-md-6">
                    <div class="about-img fl-wrap">
									<img src="{% static 'web/img/about1.jpg' %}" class="img-fluid" alt="">
									<div class="about-img-hotifer color-bg">
										<p>Our 30 years working experience creates new techniques in electrical field.</p>
									</div>
								</div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Info -->
    <section class="about-info section-padding bg-gray">
        <div class="container">
            <div class="about-info">
                <div class="row">
                    <div class="col-md-5">
                        <div class="about-info-img mb-60">
                            <div class="img"> <img src="{% static 'web/img/mision 2-01.jpg' %}" class="img-fluid" alt=""> </div>
                        </div>
                        <div class="section-title2">Our <span> Mission</span></div>
                        <p>Determination, dedication and commitment from each and every member of our family, as well as a strong team spirit and positive duty of care towards all the management affected by our actions underpin every action taken within our business. The health, welfare, personal growth and electrical safety of our employees and clients are of upmost importance proven by the continual training, the personal development of the knowledge and skills of our staff and our endeavors to educate and promote public awareness with regard to the importance of electrical safety and safe work practices. Taking pride in being a company that grows through success and client referrals, we see the partnerships with our clients as investing in our future.</p>
                    </div>
                    <div class="col-md-6 offset-md-1 pt-60">
                        <div class="section-title2">Our <span> Vision</span></div>
                        <p>Striving to be the best in its class by offering a superior product with regard to the standard of workmanship and knowledge, safe working procedures, practices and policies and the installation of quality apparatus. With power division being an integral part of our lifestyle and the cornerstone for our quality of life, there is a continuing need for products and services to harness its use. To this end, whilst acting as a responsible corporate citizen, we are faithful to the investigation and development of economical and environmentally-sustainable solutions for our commercial, industrial and domestic clients alike.</p>
                        <div class="about-info-img pt-60">
                            <div class="img"> <img src="{% static 'web/img/vision-01.jpg' %}" class="img-fluid" alt=""> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Words of Chairman 1 -->
    <section class="about section-padding" style="padding: 60px 0!important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30">
                    
                    <div class="section-title">Words of  <span>Chairman</span></div>
                    <p>If the last century was about meeting human needs, this one is about matching human aspirations. We live in a world where the young reach higher, dream bigger and demand more; a world that is challenging the limits of hope and possibility. Nowhere is this more strikingly visible than in Oman, a country that wakes up every morning a little younger in age, but infinitely more ambitious in spirit.</p>
                    <p>The Anwar Al Meiha Group embodies the spirit of this evolving and resurgent Oman and stands ready to adapt to the changes needed to see their desires come into fruition.Our goal is not just to build a great enterprise, but to build a great future for our employees, business associates and, more importantly, our nation and the world at large. It is to give hundreds of millions of people the power to fulfil their dreams, shape their own destiny and the means to realize their true and diverse potential.</p>
                    
                    <div class="line-dec"></div>
                    <div class="about-bottom"> 
                        <div class="about-name-wrapper">
                            <div class="about-name">Khalid Muslem Salmeen Al Kiyumi</div>
                            <div class="about-rol">Chairman</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-img"> <img style="width: 85%;
                        height: auto;" src="{% static 'web/img/team/photo 1.jpg' %}" alt="">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Words of Chairman 2 -->
    <section class="about section-padding" style="padding: 60px 0!important;">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="about-img"> <img style="width: 85%;
                        height: auto;" src="{% static 'web/img/team/MD profile.png' %}" alt="">
                        
                    </div>
                </div>


                <div class="col-md-6 mb-30">
                    
                    <div class="section-title">Words of  <span>MD</span></div>
                    <p>On behalf of my company I do present my compliment. We are thankful to our valuable clients who guided us to lead a company which is well established and known in the market today. Here, I briefly introduce a well-known firm all over the country of Sultanate of Oman for its unique and incomparable products and services. We inherit a wide spectrum of knowledge from the rich experience and successful track of record of its management term, earned over the years. This was gained through untiring efforts and facing the challenges of the era successfully to promote our company nationwide. We recognize the importance of team work which generates efforts collectively to set and to achieve the goals, planned by an organization strategy, moving on to the challenges. We believe in providing a comparable value more efficiently than competitors or performing activities at comparable cost, but in a unique way that creates more buyers value at a premium cost.</p>
                    <p>With the remarkable heritage, we look forward at the future by learning from the past shortcomings and to up an organization that delivers even better results to our customers, that is why Anwar Al Meiha is highly appreciated by all the sectors of the country</p>
                    
                    <div class="line-dec"></div>
                    <div class="about-bottom"> 
                        <div class="about-name-wrapper">
                            <div class="about-name">Abbas KV</div>
                            <div class="about-rol">Managing Director</div>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </section>


    <!-- Numbers -->
    <section class="numbers">
        <div class="section-padding bg-img bg-fixed section-padding" data-background="{% static 'web/img/banner2middle.jpeg' %}" data-overlay-dark="6">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                    <div class="item text-center">
                        <span class="icon">
                            <i class="front norc-design"></i>
                            <i class="back norc-design"></i>
                        </span>
                        <h3 class="count">25+</h3>
                        <h6> Successful Years</h6>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="item text-center">
                        <span class="icon">
                            <i class="font norc-b-meeting"></i>
                            <i class="back norc-b-meeting"></i>
                        </span>
                        <h3 class="count">1200+</h3>
                        <h6> Happy Clients</h6>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="item text-center">
                        <span class="icon">
                            <i class="front norc-paper-diploma"></i>
                            <i class="back norc-paper-diploma"></i>
                        </span>
                        <h3 class="count">100+</h3>
                        <h6> Successful Projects</h6>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Values -->
    <section class="values section-padding bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Guiding Principles that Define Us</div>
                    <div class="section-title">Core <span>Values</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-facility">
                        <span class="norc-trophy"></span>
                        <h5>Recognition</h5>
                        <p>Being recognized and compensated for our abilities, achievements and advancements</p>
                        <div class="facility-shape"> <span class="norc-trophy"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility">
                        <span class="norc-bulb-63"></span>
                        <h5>Innovation</h5>
                        <p>Being broadminded, creative and courageous in the expansion of our capabilities,knowledge and skills</p>
                        <div class="facility-shape"> <span class="norc-bulb-63"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility">
                        <span class="norc-paper-diploma"></span>
                        <h5>Quality</h5>
                        <p>Provide quality customer service and advice</p>
                        <div class="facility-shape"> <span class="norc-paper-diploma"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility">
                        <span class="norc-chess-knight"></span>
                        <h5>Integrity</h5>
                        <p>Being honest with our clients and with one another.</p>
                        <div class="facility-shape"> <span class="norc-chess-knight"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility">
                        <span class="norc-strategy"></span>
                        <h5>Strategy</h5>
                        <p>Promoting the safe use of electrical energy.</p>
                        <div class="facility-shape"> <span class="norc-strategy"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility">
                        <span class="norc-support"></span>
                        <h5>Safeguarding</h5>
                        <p>Guarantee safe, consistent, economical, environmentally-sustainable Electrical, HVAC,Fire System and IT solutions</p>
                        <div class="facility-shape"> <span class="norc-support"></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Video & Testiominals -->
    <section class="testimonials">
        <div class="background bg-img bg-fixed section-padding pb-0" data-background="{% static 'web/img/bannerfootersec.jpeg' %}" data-overlay-dark="4">
            <div class="container">
                <div class="row">
                    <!-- Video -->
                    <div class="col-md-6 mb-30 valign">
                        <div class="vid-area">
                            
                            <div class="cont mt-30 mb-30">
                                
                                <h4>About Company</h4>
                                <p>Safeline: Leading the Way in Innovation and Sustainability. With a focus on delivering top-quality electrical, HVAC and fire system, our company has earned the trust and admiration of clients. Our commitment to innovation and sustainability sets us apart, as we constantly explore new techniques and alternative energy sources.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Testiominals -->
                    <div class="col-md-5 offset-md-1">
                        <div class="testimonials-box">
                            <div class="head-box">
                                <h6>What said about us</h6>
                                <h4>Customer Reviews</h4>
                            </div>
                            <div class="owl-carousel owl-theme">
                              
                                {% for testimonial in testimonials %}

                                <div class="item"> 
                                <span class="quote">
                                    <img src="{% static 'web/img/quot.png' %}" alt="">
                                </span>
                                    <p class="v-border">{{testimonial.review|safe}}</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="{{testimonial.image.url}}" alt=""> </div>
                                        <div class="cont">
                                            <h6>{{testimonial.name}}</h6> <span>{{testimonial.place}}</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}



                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients -->
    <!-- <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="owl-carousel owl-theme">
                        

                        {% for client in clients %}

                        <div class="clients-logo">
                            <a href="#0"><img src="{{client.image.url}}" alt=""></a>
                        </div>

                        {% endfor %}



                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </section> -->





{% endblock %}