{% extends 'partials/base.html' %} 
{% load static %} 


    {% block meta %}
    <!-- Primary Meta Tags -->
    <title>Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group</title>
    <meta name="title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta name="description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://safe-line.co/" />
    <meta property="og:title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta property="og:description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />
    <meta property="og:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://safe-line.co/" />
    <meta property="twitter:title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta property="twitter:description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />
    <meta property="twitter:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />
    {% endblock %}


{% block content %}




<!-- Header Banner -->
<section class="banner-header banner-img-top section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'web/img/slider/allbanner.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h6>Insights, Inspiration, and Information</h6>
                <h1>Latest <span>Blog</span></h1>
            </div>
        </div>
    </div>
</section>
<!-- Blog -->
<section class="news section-padding bg-gray">
    <div class="container">
        <div class="row">
            
            
            {% for blog in blogs %}

            <div class="col-md-4 mb-60">
                    <div class="item">
                        <div class="position-re o-hidden"> <img src="{{blog.thumb_image.url}}" alt="">
                            <div class="date">
                                <a href="{% url 'web:blog-detail' blog.slug %}"> <span>{{blog.date}}</span> </a>
                            </div>
                        </div>
                        <div class="con">
                            <h5><a href="{% url 'web:blog-detail' blog.slug %}">{{blog.title}}</a></h5>
                            <div class="divider"></div>
                            <div class="news-info">
                                <div class="split-content news-info-left">
                                    
                                </div>
                                <div class="split-content news-info-right"> <a href="{% url 'web:blog-detail' blog.slug %}" class="link-btn" tabindex="0">Read more</a> </div>
                            </div>
                        </div>
                    </div>
            </div>


            {% endfor %}



            
        
        </div>
    </div>
</section>


{% endblock %}