{% extends 'partials/base.html' %} 
{% load static %}


    {% block meta %}
    <!-- Primary Meta Tags -->
    <title>Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group</title>
    <meta name="title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta name="description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://safe-line.co/" />
    <meta property="og:title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta property="og:description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />
    <meta property="og:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://safe-line.co/" />
    <meta property="twitter:title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta property="twitter:description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />
    <meta property="twitter:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />
    {% endblock %}

 
{% block content %}


 <!-- Header Banner -->
 <section class="banner-header banner-img-top section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'web/img/slider/allbanner.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h6>Careers</h6>
                <h1>Apply <span>Now</span></h1>
            </div>
        </div>
    </div>
</section>
<!-- Careers -->
        <div class="positions section-padding bg-gray">
            <div class="container">
                <div class="row">
                <div class="col-md-12 mb-60">
                    
                       
         
                     
                     <div class="news-comment-section" id="orderrrr">
                  
                 
                         <!-- Contact Form -->
                         <h3>Please fill out the form below.</h3>
                         <form method="post" class="row form application" enctype="multipart/form-data">
                             {% csrf_token %}
         
                           <div class="col-md-6">
                             {{form.name}}
                           </div>
                           
                           <div class="col-md-6">
                            {{form.email}}
                              
                            </div>
                          
                           <div class="col-md-6" >
                            <div class="phone-input-container">
                              {{form.phone}}
                            </div>
                          
                             
                           </div>
                           
         
                          
         
                           <div class="col-md-6">
         
                             {{form.job}}
                           </div>
         
                           <div class="col-md-12">
                           
                            {{form.note}} 
                           
                          </div>
         
                           <div class="col-md-12">
                            Upload Your Resume/CV ( Upload Files upto 5mb )
                             {{form.resume}} 
                            
                           </div>
                          
                           <div class="col-md-12">
                             <button class="button-secondary mt-15">
                               <a href="#0"><span>Apply Job</span></a>
                             </button>
                           </div>
                         </form>
                       </div>
         
         
         
         
                 
                    
                </div>
            </div>
            
            </div>
        </div>














{% endblock %}