{% extends 'partials/base.html' %}
{% load static %}


    {% block meta %}
    <!-- Primary Meta Tags -->
    <title>Certificates and Recognitions | Safeline - Anwar Al Meiha Group LLC</title>
    <meta name="title" content="Certificates and Recognitions | Safeline - Anwar Al Meiha Group LLC" />
    <meta name="description" content="Elevate your trust in Safeline as your premier electrical and building material supplier. Visit our certificates and recognition page to see our industry-leading recognitions and certifications. Our commitment to excellence and quality standards sets us apart. Explore our accolades and choose Safeline for your construction needs with confidence." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://safe-line.co/" />
    <meta property="og:title" content="Certificates and Recognitions | Safeline - Anwar Al Meiha Group LLC" />
    <meta property="og:description" content="Elevate your trust in Safeline as your premier electrical and building material supplier. Visit our certificates and recognition page to see our industry-leading recognitions and certifications. Our commitment to excellence and quality standards sets us apart. Explore our accolades and choose Safeline for your construction needs with confidence." />
    <meta property="og:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://safe-line.co/" />
    <meta property="twitter:title" content="Certificates and Recognitions | Safeline - Anwar Al Meiha Group LLC" />
    <meta property="twitter:description" content="Elevate your trust in Safeline as your premier electrical and building material supplier. Visit our certificates and recognition page to see our industry-leading recognitions and certifications. Our commitment to excellence and quality standards sets us apart. Explore our accolades and choose Safeline for your construction needs with confidence." />
    <meta property="twitter:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />
    {% endblock %}


{% block content %}


<!-- Header Banner -->
<section class="banner-header banner-img-top section-padding valign bg-img bg-fixed" data-overlay-dark="4"
    data-background="{% static 'web/img/slider/allbanner.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h6>Certifications: Recognizing Achievements</h6>
                <h1>Our <span>Certificates</span></h1>
            </div>
        </div>
    </div>
</section>






<!--  Image Gallery -->
<section class="section-padding">
    <div class="container">
        <div class="row">

            <!-- 3 columns -->
            {% for certificate in certificate %}
            <div class="col-md-4 gallery-item">
                <a href="{{certificate.image.url}}" title="{{certificate.note}}" class="img-zoom">

                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="{{certificate.image.url}}" class="img-fluid mx-auto d-block"
                                alt="certificate-img"> </div>
                    </div>
                </a>
                <div class="image-name-div">
                    <p class="image-name">{{certificate.name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>









{% endblock %}