{% extends 'partials/base.html' %} 
{% load static %}


    {% block meta %}
    <!-- Primary Meta Tags -->
    <title>Gallery | Safeline - Anwar Al Meiha Group LLC</title>
    <meta name="title" content="Gallery | Safeline - Anwar Al Meiha Group LLC" />
    <meta name="description" content=" Experience the Safeline difference through our gallery page, showcasing our premium electrical and building material products. Discover inspiring projects and product highlights that reflect our commitment to quality. Explore our gallery for a visual journey into excellence." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://safe-line.co/" />
    <meta property="og:title" content="Gallery | Safeline - Anwar Al Meiha Group LLC" />
    <meta property="og:description" content=" Experience the Safeline difference through our gallery page, showcasing our premium electrical and building material products. Discover inspiring projects and product highlights that reflect our commitment to quality. Explore our gallery for a visual journey into excellence." />
    <meta property="og:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://safe-line.co/" />
    <meta property="twitter:title" content="Gallery | Safeline - Anwar Al Meiha Group LLC" />
    <meta property="twitter:description" content=" Experience the Safeline difference through our gallery page, showcasing our premium electrical and building material products. Discover inspiring projects and product highlights that reflect our commitment to quality. Explore our gallery for a visual journey into excellence." />
    <meta property="twitter:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />
    {% endblock %}

 
{% block content %}


<section class="banner-header banner-img-top section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'web/img/slider/allbanner.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h6>Unveiling our Portfolio: A Gallery of Completed Projects</h6>
                <h1>Our <span>Gallery</span></h1>
            </div>
        </div>
    </div>
</section>


<section class="section-padding">
    <div class="container">
        <div class="row">
            <!-- 3 columns -->
            {% for gallery in gallery  %}
            <div class="col-md-4 gallery-item">
                <a href="{{gallery.image.url}}" title="{{gallery.note}}" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="{{gallery.thumb_image.url}}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>







{% endblock %}