{% extends 'partials/base.html' %} 
{% load static %} 
{% block content %}


<section class="banner-header banner-img-top section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'web/img/slider/allbanner.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h6>Unveiling our Portfolio: A Gallery of Completed Projects</h6>
                <h1>Our <span>Gallery</span></h1>
            </div>
        </div>
    </div>
</section>


<section class="section-padding">
    <div class="container">
        <div class="row">
            <!-- 3 columns -->
            {% for gallery in gallery  %}
            <div class="col-md-4 gallery-item">
                <a href="{{gallery.image.url}}" title="{{gallery.note}}" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="{{gallery.thumb_image.url}}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>







{% endblock %}