{% extends 'partials/base.html' %} 
{% load static %}


    {% block meta %}
    <!-- Primary Meta Tags -->
    <title>Safeline Products | Best Electrical and Construction Materials Store in Barka | Oman</title>
    <meta name="title" content="Safeline Products | Best Electrical and Construction Materials Store in Barka | Oman" />
    <meta name="description" content="Discover a world of high-quality products at Safeline. Explore our extensive product categories, including switchgears, building materials, MEP products, HVAC accessories, fire and safety products, electrical products, and ELV products. Elevate your construction and electrical needs with Safeline's top-notch offerings. Find the perfect solution for your project today!
" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://safe-line.co/" />
    <meta property="og:title" content="Safeline Products | Best Electrical and Construction Materials Store in Barka | Oman" />
    <meta property="og:description" content="Discover a world of high-quality products at Safeline. Explore our extensive product categories, including switchgears, building materials, MEP products, HVAC accessories, fire and safety products, electrical products, and ELV products. Elevate your construction and electrical needs with Safeline's top-notch offerings. Find the perfect solution for your project today!
" />
    <meta property="og:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://safe-line.co/" />
    <meta property="twitter:title" content="Safeline Products | Best Electrical and Construction Materials Store in Barka | Oman" />
    <meta property="twitter:description" content="Discover a world of high-quality products at Safeline. Explore our extensive product categories, including switchgears, building materials, MEP products, HVAC accessories, fire and safety products, electrical products, and ELV products. Elevate your construction and electrical needs with Safeline's top-notch offerings. Find the perfect solution for your project today!
" />
    <meta property="twitter:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />
    {% endblock %}

 
{% block content %}


<!-- Header Banner -->
<section class="banner-header banner-img-top section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'web/img/slider/allbanner.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h6>Explore Our Diverse Range</h6>
                <h1>Category</h1>
            </div>
        </div>
    </div>
</section>







<!-- Blog -->
<section class="news section-padding bg-gray">
    <div class="container">
        <div class="row">
            {% for category in categories %}
            <div class="col-md-4 mb-60">
                    <div class="item">
                        <div class="position-re o-hidden"> <img src="{{category.image.url}}" alt="">
                            
                        </div>
                        <div class="con">
                            <h5><a href="{% url 'web:products-list' category.slug %}">{{category.name}}</a></h5>
                            <div class="divider"></div>
                            <div class="news-info">
                                
                                <div class="split-content news-info-right"> <a href="{% url 'web:products-list' category.slug %}" class="link-btn" tabindex="0">Read more</a> </div>
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}