{% extends 'partials/base.html' %} 
{% load static %}


    {% block meta %}
    <!-- Primary Meta Tags -->
    <title>Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group</title>
    <meta name="title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta name="description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://safe-line.co/" />
    <meta property="og:title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta property="og:description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />
    <meta property="og:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://safe-line.co/" />
    <meta property="twitter:title" content="Safeline: Innovative Electrical Solutions | Anwar Al Meiha Group" />
    <meta property="twitter:description" content="Discover Safeline, the Oman based enterprise and branch company of Anwar Al Meiha Group, founded in 1993. Our objective is to revolutionize the electrical field with cutting-edge techniques and modern solutions, meeting all the demands of electrical works. Owned by Abbas KV and Khalid Muslem, we've earned the trust of customers and competitors alike, ushering a modern approach to a traditional trade. Count on us for innovative, cost-effective, and reliable electrical solutions." />
    <meta property="twitter:image" content="https://www.safe-line.co/static/web/img/SafelineMetaImage.png" />
    {% endblock %}

 
{% block content %}



 <!-- Header Banner -->
 <section class="banner-header banner-img-top section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'web/img/slider/allbanner.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h6>Making a Difference Together</h6>
                <h1>Our <span>Projects</span></h1>
            </div>
        </div>
    </div>
</section>




<!-- Services -->
{% comment %} <section class="services2 center section-padding " style="padding: 70px 0!important;" >
    <div class="container">
        
        <div class="row">
            <div class="col-md-12 owl-carousel owl-theme">
                
                {% for project in projects %}
                <div class="square-flip">
                    <a href="{% url 'web:gallery' %}"><div class="square bg-img" data-background="{{project.image.url}}">
                        <div class="square-container d-flex align-items-end justify-content-end">
                            <div class="box-title">
                                
                                <h4>{{project.name}}</h4>
                            </div>
                        </div>
                        <div class="flip-overlay"></div>
                    </div></a>
                    
                    <div class="square2">
                        <div class="square-container2">
                            <h4>{{project.name}}</h4>
                            
                            <a href="" class="link-btn" tabindex="0"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> 
        </div>
    </div>
</section> {% endcomment %}

<section class="section-padding">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <!-- 3 columns -->
            {% for gallery in gallery  %}
            <div class="col-md-4  col-sm-12 gallery-item">
                <a href="{{gallery.image.url}}" title="{{gallery.note}}" class="img-zoom img-zoom-lamiiz">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="{{gallery.thumb_image.url}}" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                    </div>
                <div class="image-name-div">
                    <p class="image-name">{{gallery.note}}</p>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


 <!-- Services 3 -->
 {% comment %} <section class="services-3 center section-padding bg-gray" style="padding: 60px 0!important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Collaborating for a Better Future</div>
                <div class="section-title">Brand <span>Partners</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 owl-carousel owl-theme">
                {% for partner in partners %}
                <div class="services3 mb-30">
                    <div class="services3-img"><img src="{{partner.image.url}}" alt="" class="w-100"></div>
                    <div class="services3-content">
                        {% if partner.partner_logo %}
                        <div class="clients-logo">
                            <a href="#0"><img src="{{ partner.partner_logo.url }}" alt=""></a>
                        </div>
                        {% endif %}
                        <h3 class="services3-title">{{partner.name}}</h3>
                        
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section> {% endcomment %}




{% comment %}

<section class="services2 center section-padding "  >
    <div class="container">
        
        <div class="row">
            <div class="carousel__container">
                {% for project in projects %}
              <div class="carousel__item">
                <img src="{{project.image.url}}" class="carousel__image">
              </div>
              {% endfor %}
            </div>  
        </div>
    </div>
</section>

{% endcomment %}





{% endblock %}